h2
{
    font-size: 5em;
}
ul{list-style:none}

.botonCompra{
    text-align: center;
    font-size:2em;
    padding-left:10px;
    padding-right:10px;
    border-radius: 20px;
    background-color:rgb(200, 255, 180);
    color:rgb(0,110,0);
    border-color: rgb(0,110,0);
    border: 2px solid  rgb(0,110,0); display: inline-block;
}
a:hover{
    text-decoration:none;
}
section>div{ 
    margin-top: 20px;
}


.contenedores
{
    text-align: center;
}
#imgdetalle
{
    width: 100%;
}
.precio
{
    font-size: 2em;
}

.logoTienda
{
    width: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

section{
    text-align: center;
}