.navbar-inverse{
    background-color: rgb(204, 255, 205);
}
.navbar{
    color: black;
}
.navbar-inverse .navbar-nav > li > a {
  color: rgb(0, 110, 0);
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: rgb(0, 0, 0);
}
.icon-bar{
  color: rgb(0, 110, 0);
  background-color: rgb(0, 110, 0);
}
.navbar-toggle{
  color: rgb(0, 110, 0);
  border: 0px;      
}
.navbar-toggle:hover{
  color: rgb(0, 110, 0);
  border: 0px;        
}
body{
  background-color: rgba(236, 255, 250, 50);
  background-image: url("Fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Fjalla One', sans-serif;
}
